//Background Colors

$back-primary: #FFFFFF;
$back-secondary:#FFFFFFF2;
$back-3:#FFFFFF26;
$back-4:#FCFAF68C;
$back-5:#FBF9F9;
$back-6:#FAF7F1;
$back-7:#D8F0E3;
$back-8:#C0E1CF;
$back-9:#F3D0C7;
$back-10:#E1C0B0;
$back-11:#EF2853;
$back-12:#EE2852;
$back-13:#00000026;

//Text Color

$text-color:#FFFFFF;
$text-color-2:#F5D8CA;
$text-color-3:#F8D12D;
$text-color-4:#BADAC9;
$text-color-5:#A6A6A6;
$text-color-6:#F0817B;
$text-color-7:#EB6950;
$text-color-8:#878787;
$text-color-9:#6D6D6D;
$text-color-10:#80465F;
$text-color-11:#000000;

//Fill color

$fill-color:#FFFFFF;
$fill-color-2:#F0817B;
$fill-color-3:#EE2852;
$fill-color-4:#000000;

//Border Colors

$border-color:#EBEBEB;
$border-color-2:#F5D8CA;
$border-color-3:#C0E1CF;
$border-color-4:#E1C0B0;



